.about {
  background-color: #333; /* Dark background color */
  color: #00ff00; /* Light text color */
  padding: 2%;
  border-radius: 0.5%;
  font-family: "Courier New", Courier, monospace;
  position: center;
  background-size: cover;
  margin: 0%;
  padding-right: 0%;
}

.about h1{
 font-size: 2vw; 
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  margin-bottom: 4%;
}

.photo-contain {
  flex: 1;
  padding: 2%;
}

.photo-contain img {
  flex: 1;
  padding: 2%;
  border-radius : 16vw;
}

.text-contain {
  flex: 1;
  padding: 1%;
}

.text-contain p {
  margin: 0;
  padding-right: 5%;
  text-align: justify;
  color: #666;
  font-size: 1.35vw;
}

.text-contain p:hover{
  color: #fff;
}

.responsive {
  width: 100%;
  height: auto;
}

img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about hr {
  border-top: 0.4vw solid #00ff00; /* Light border color */
  margin-bottom: 1vw;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row; /* Stack containers vertically */
  }

  .photo-contain,
  .text-contain {
    flex: auto; /* Reset flex value */
    width: 100%; /* Take full width */
        padding: 2vw; /* Add padding */
    font-size: 3vw;
  }
}
