/* Contact Section Styles */
.contact {
  background-color: #333; /* Dark background color */
  color: #00ff00; /* Light text color */
  padding: 2vw; /* Changed padding to 2vw */
  border-radius: 1vw; /* Changed border-radius to 1vw */
  font-family: "Courier New", Courier, monospace; /* Hacker-style font */
  margin-right: 1vw; /* Changed margin-right to 5vw */
}

.contact h2 {
  color: #00ff00; /* Light text color */
}

.contact hr {
  border-top: 0.1vw solid #00ff00; /* Changed border-top width to 0.1vw */
  margin-bottom: 2vw;
}

.contact p {
  color: #666; /* Medium text color */
  margin-bottom: 1vw; /* Changed margin-bottom to 1vw */
  font-size: 1.6vw; /* Changed font-size to 1.2vw */
}

@media (max-width: 768px){
  .contact p {
    font-size: 3vw; /* Changed font-size to 1.2vw */
  }
}

.contact p:hover {
  color: #fff; /* Change text color to white on hover */
}

.contact form {
  margin-top: 2vw; /* Changed margin-top to 2vw */
}

.contact form input[type="text"] {
  width: 50%; /* Changed width to 50% */
  padding: 1vw; /* Changed padding to 1vw */
  margin-bottom: 1vw; /* Changed margin-bottom to 1vw */
  border: 0.1vw solid #00ff00; /* Changed border width to 0.1vw */
  border-radius: 0.5vw; /* Changed border-radius to 0.5vw */
  background-color: #444; /* Dark background color for input fields */
  color: #00ff00; /* Light text color */
}

.contact form input[type="submit"] {
  padding: 1vw 2vw; /* Changed padding to 1vw 2vw */
  background-color: #00ff00; /* Light background color */
  color: #333; /* Dark text color */
  border: none;
  border-radius: 0.5vw; /* Changed border-radius to 0.5vw */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add animation to background color */
}

.contact form input[type="submit"]:hover {
  background-color: #007700; /* Darker background color on hover */
}

.contact .offer-sentence {
  margin-top: 2vw; /* Changed margin-top to 2vw */
  font-style: italic;
  font-size: 1.2vw; /* Changed font-size to 1.2vw */
  color: #ff0000; /* Red text color */
  font-family: Arial, sans-serif; /* Change font family */
  animation: colorChange 3s infinite alternate; /* Apply animation */
}

/* Animation Keyframes */
@keyframes colorChange {
  0% {
    color: #ff0000; /* Start with red color */
  }
  50% {
    color: #ffffff; /* Change to white color halfway */
  }
  100% {
    color: #ff0000; /* Return to red color */
  }
}
